//RSup! Colors

//Blue
$light-blue: #2760ff;
$dark-blue: #002794;

//Orange
$orange: #ff3d00;

//Black
$light-black: #232323;
$dark-black: #1a1a1a;

//White
$gray-white: #e5e5e5;
$light-white: #f0f0f0;